In [116]:
import pandas as pd
from os.path import exists

In [117]:
labeled_users = './data/labeled_users.csv'
user_demo_profiles_path = './data/User demo profiles.json'

df_users = pd.read_csv(labeled_users)
df_profiles = pd.read_json(user_demo_profiles_path, orient='values')

In [118]:
df_users = df_users.drop(['is_female','year_born'],axis = 1)
df_users = df_users.rename(columns={"user_id":"id","race":"race"})
df_users.head()

         id  race
0   12488.0   4.0
1  719703.0   4.0
2  722153.0   3.0
3  749003.0   5.0
4  755531.0   4.0

In [119]:
df_profiles = df_profiles.drop(['name','screen_name','description','lang'],axis = 1)
df_profiles.head()

           id                 img_path
0       12488  profile pics/60147.jpeg
1      719703  profile pics/60148.jpeg
2      722153  profile pics/60149.jpeg
3      749003  profile pics/60150.jpeg
4  1896301728  profile pics/60151.jpeg

In [120]:
data = df_users.join(df_profiles.set_index('id'), on='id')
data = data.dropna()
data['img_path'] = './data/' + data['img_path']
data.head()

         id  race                        img_path
0   12488.0   4.0  ./data/profile pics/60147.jpeg
1  719703.0   4.0  ./data/profile pics/60148.jpeg
2  722153.0   3.0  ./data/profile pics/60149.jpeg
3  749003.0   5.0  ./data/profile pics/60150.jpeg
5  811618.0   3.0  ./data/profile pics/60152.jpeg

In [121]:
print(data.shape)
to_drop = []
for i, row in enumerate(data.iterrows()):
    index, row = row
    path = row['img_path']
    if not exists(path):
        to_drop.append(index)
data = data.drop(to_drop)
print(data.shape)

(3572, 3)
(3487, 3)