In [1]:
import pandas as pd
import json
import shutil

In [2]:
labeled_users = './data/labeled_users.csv'
user_demo_profiles_path = './data/User demo profiles.json'

df_users = pd.read_csv(labeled_users)
df_profiles = pd.read_json(user_demo_profiles_path, orient='values')

In [3]:
df_profiles

,id,name,screen_name,description,lang,img_path
0,12488,Chad Boyce,djsnipa1,"Multimedia Developer, Graphic Designer, DJ, an...",NA,profile pics/60147.jpeg
1,719703,Tomato ðŸ˜·,Tomato,ðŸ‡­ðŸ‡°Rise Up!,NA,profile pics/60148.jpeg
2,722153,blank,blank,"Someone who thinks too much, acts too little.",NA,profile pics/60149.jpeg
3,749003,A ring made from a spoon --- E83.31,IYQbd,Has the kind of luck that turns a professional...,NA,profile pics/60150.jpeg
4,1896301728,Ø¹Ø¨Ø¯Ø§Ù„Ù„Ù‡,755531,,NA,profile pics/60151.jpeg
...,...,...,...,...,...,...
3604,4895390642,Dalton's Eyeliner,FlyAwayEyeliner,"I'm Dalton's eyeliner, who are you? Are you Da...",NA,profile pics/64267.jpeg
3605,4895831833,Jamie Loftus,cowboyjamie77,"41 year old male. interests include learning, ...",NA,profile pics/64268.jpeg
3606,4921995243,saved,memelady,,NA,profile pics/64269.jpeg
3607,4924158634,Winter da CoffeeCat,WinterStar21,"Big fan of cats, coffee, horror stuff and anim...",NA,profile pics/64270.jpeg
3608,4928657861,magical fluff nugget,ohitspotato,ADHD and all that fun stuff. Future counselor....,NA,profile pics/64271.jpeg

In [4]:
df_tmp = df_profiles.drop(['name','screen_name','description','lang'],axis = 1)
df_tmp.shape

(3609, 2)

In [7]:
not_find_pics = []
for index, row in df_tmp.iterrows():
    _id = row[0]
    path = row[1]
    source_path = './data/img' + path[12:]
    dest_path = './data/' + path

    try:
        shutil.copyfile(source_path,dest_path)
    except(FileNotFoundError):
        not_find_pics.append(index)